.display {
  background-color: #1C1C1C;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  font-size: 75px;
  margin-top: 2rem;
  text-align: right;
  width: 285px;
  height: 80px;
}

#top-three {
  background-color: #A4A4A4;
  color: #1C1C1C;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  padding-left: 12px;
}

#top-three:hover {
  background-color: #D4D4D2;
}

#r5-1 {
  width: 142px;
  border-radius: 55px;
  justify-content: flex-start;
  padding-right: 90px;
}

#operator {
  background-color: #FF9500;
  color: white;
  font-size: 36px;
  padding-top: 12px;
}

#operator:focus {
  background-color: white;
  color: #FF9500;
}

#equal {
  background-color: #FF9500;
  color: white;
}

#equal:hover {
  background-color: white;
  color: #FF9500;
  cursor: pointer;
}

button {
  padding: 15px;
  width: 4rem;
  height: 4rem;
  margin: 0.3rem;
  background-color: #404040;
  border-radius: 100%;
  color: white;
  font-size: 30px;
}

body {
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #A4A4A4;
  color: #1c1c1c;
  cursor: pointer;
}
